<div ng-controller="Scylla.TextboxWithCharacterCount" id="Scylla_TextboxWithCharacterCount">
	<input ng-model="model.value"
		   ng-change="update()"
           ng-show="model.config.multiline == false"
		   class="umb-editor umb-Textbox Textbox"
		   type="text" />

    <textarea ng-model="model.value"
              ng-change="update()"
              ng-show="model.config.multiline == true"
              class="umb-editor umb-textarea textstring"
              rows="10"/><br />
	<small ng-class="model.className">{{model.remainingCount}} chars remaining</small>
</div>

<style>
	#Scylla_TextboxWithCharacterCount
	.red {
		color: red;
	}
	#Scylla_TextboxWithCharacterCount
	.yellow {
		color: yellow;
	}
	#Scylla_TextboxWithCharacterCount
	.orange {
		color: orange;
	}
	#Scylla_TextboxWithCharacterCount
	.green {
		color: green;
	}
</style>